<div class="jumbotron">
	<h1>About the App</h1>
	<p> This is the completed One Month Rails Pinteresting app. It took me a long time to complete (one year, but I took a nine month break in the middle), and I am really proud of it. I went through tons of headaches and bug fixes, and after more than 300 hours of work, here is the finished product. Enjoy!</p>
</div>