<div class="jumbotron center">
	<h1>Welcome to my app!</h1>
 	<p> <%= link_to "Log in", login_path, class: "btn btn-success btn-lg" %> <%= link_to "Sign Up", signup_path, class: "btn btn-primary btn-lg" %></p>
 </div>

